* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.posts-page {
  background-color: #15181d;
  min-height: 100vh;
  
}
.postsContainer {
  max-width: 800px;
  margin: auto;
  margin-bottom: 5px;
  padding: 20px;
  background-color: rgb(31, 40, 51);
}
.postsContainer .avatar {
    
    border-radius:  50px;
    height: 45px;
    width: 45px;
}
.postsContainer .avatar .avatarImg{
    object-fit: contain;
    border-radius:  50px;
    width: 100%;
    height: 100%;
}
.postsContainer .usersInformation {
  display: flex;
  align-items: center;
  
}
.postsContainer .usersInformation span.userName {
  font-weight: 500px;
  color: rgb(27, 236, 236);
  font-size: 20px;
  margin-left: 10px;
  text-transform: capitalize;
}
.postsContainer .usersInformation span.postsData {
  color: rgb(197, 198, 199);
  font-size: 15px;
  margin-left: 10px;
}
.postsContainer .post {
  margin: 20px 0px;
  text-align: left;
  color: rgb(197, 198, 199);
  font-size: 20px;
}

.postsContainer .like {
    text-align: right;
    color: rgb(197, 198, 199);
    font-size: 15px;
}

.postsContainer .like span::before{
    content: '\2764';
    color: lightcoral;
    font-size: 15px;
    margin-right: 5px;
}
.postsContainer .like span:hover::before{
    cursor: pointer;
    color: red;
}

/* LOADER__________________________ */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 80px;
    
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 15px;
    background: rgb(197, 198, 199);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 14px;
      height: 32px;
    }
  }
  